@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300italic,100,300);
/*font-family: 'Roboto', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Balthazar);
/*font-family: 'Balthazar', serif;*/

body{
	     margin:0;
         overflow-x:hidden;
		 font-family: 'Roboto', sans-serif;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}

#status {
    width:400px;
    height:400px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/www.GIFCreator.me_3pMrOh.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-200px 0 0 -200px; /* is width and height divided by two */
}


#container .mix {

margin-bottom:100px;
display: none;
}

#message_area {
display:none;
}

#filters_and_sorters {

margin-bottom: 10px;
}
#team  .team-member::before{ 
    position: absolute;
    content: '';
    width: 100%;
    height: 340px;
    opacity: .3;
   background-image: -ms-linear-gradient(top, rgb(1,144,250) 39%, rgb(16,141,234) 90%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, rgb(255,255,255) 39%, rgb(1,144,250) 90%);

/* Opera */ 
background-image: -o-linear-gradient(top, rgb(255,255,255) 39%, rgb(1,144,250) 90%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39, rgb(255,255,255)), color-stop(90, rgb(1,144,250)));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, rgb(255,255,255) 39%, rgb(1,144,250)  90%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, rgb(255,255,255) 39%, rgb(1,144,250) 90%);

}

#event-list .row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
 #event-list .row.no-gutter > [class^="col-"],
 #event-list .row.no-gutter > [class*=" col-"] {
  padding-right: 0;
   padding-left: 0;
}
@media(min-width:992px){
    #event-list .row.no-gutter > [class^="col-"],
  #event-list .row.no-gutter > [class*=" col-"] {
  padding-right: 0;
padding-left: 15px;
  }
}

.quest-header {
    text-align: center;
    margin-bottom: -10px;
}

hr {
    background: #8abfe6;
    width: 58px;
    height: 3px;
}
.quest-paragraph {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin: 0px auto;
    max-width: 838px;
}

div#scrollbar {
  width: 12px;
  min-height: 12px;
  background: rgba(0,0,0,.2);
  position: absolute;
  right: 1px;
  border-radius: 200px;
  z-index: 100;
  cursor: default;
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #fff url(../img/preloader.GIF) no-repeat center center;  }
h1 {
    font-size: 45px;
    font-weight: 400;
}
a.btn-default.white {
    padding: 9px 18px;
}
a.btn-default.blue {
    padding: 12px 18px;
}
 a:hover {
    cursor: pointer;
    text-decoration:none;
}

p{
  font-size:19px;
}
.white{
    width: 142px;
    height: 45px;
    border: 0px;
    font-size: 20px;
    background: #fff;
    color: #8abfe6;
    font-weight:500;
    transition: all 500ms ease; 
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
   
}

.white:hover{
   background:#8abfe6;
   color:#fff;
}

.blue{
     width: 142px;
    height: 45px;
    border: 0px;
    text-align:center;
	background:#8abfe6;
	color:#fff;
	 transition: all 500ms ease; 
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

@media(max-width:468px){
   h1{
    font-size:34px;
   }
   p{
     font-size:16px;
    }
  .info-outer{
     display:none;
   }
}
 .auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
} 

.icon {
  position: absolute;
    left: 20px;
    top: 0px;
    line-height: 55px;
    font-size: 30px;
    color: #ffffff;
}   

.icon .fa{
	font-size:25px;
	color:#8abfe6;
}
#header{
    background:url(../img/header-bg.jpg);
    background-size:cover;
     height: 670px; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}




.section-overlay {
    height: 100%; 
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

   
.parallax-window {
    min-height: 400px;
   
}
.main-header {
    position: relative;
    left: 0px;
    top: 0px;
    background: #fff;
    z-index: 999;
    width: 100%;
}
.header-upper {
    position: relative;
    color: #677c91;
    padding: 2px 0px;
}
.info-outer {
    position: relative;
    float: right;
}

.info-box p{
    font-size:14px;
}


.info-box {
    position: relative;
    float: left;
    margin-left: 20px;
    padding-top: 13px;
    padding-left: 50px;
    /* margin-top: 11px; */
    line-height: 24px;
}
@media(max-width:891px){
    .info-box{
      margin-left:0px;
     }
    .info-outer {
    float:left;
    }
}
.header-upper strong{
  font-size:15px;
   font-weight:500;
}
.logo{
    position: relative;
    float: left;
    margin-top:5px;
}
.info-box a{
    font-size:14px;
}
.social-links-one a{
    font-size: 20px;
    margin: 0px 9px;
    color:#8abfe6;
}

.social-links-one a:hover{
 opacity:.7;
 color:blue;
}

.navbar-inverse{
     background-color:transparent;
     border-color:transparent;
}

#header .navbar-inverse .navbar-nav>li>a {
   
    font-size: 18px;
    color: #fff;
}
#header .pull-right{
        margin: 48px 165px;
}
@media(max-width:1304px)
 {#header .pull-right{
    margin: 51px 145px;
   }
}

.header-text{
     /*position:relative;*/
    color:#fff;
    margin-top:65px;
   
}

#header .navbar-inverse .navbar-nav>li>a:hover{
        color:#8abfe6;
       transition: all 500ms ease; 
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}


#header .donate-button{
    position: absolute;
   right: -1%;
    top: 56px;
}
@media (max-width:1268px){
   #header .pull-right {
      margin: 51px 0px;
    }
   .pull-right{
      float:left!important;
      z-index:999;
    }
    .navbar-toggle{
     float:left;

   }
  #header .donate-button{
    position: absolute;
    right: 0%;
    top: 12px;
   }
 .navbar-left,.pull-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }

    .navbar-nav>li {
     float: none; 
    }

}

@media only screen and (max-width: 1268px) {
	 .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        background-color:#000;
        position: absolute;
        width:100%;
        z-index: 200;
        transition:all .5s;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
  
}

.social-box {
    margin-top: 11px;
}
.nav>li {
    margin: 0px 6px;
}

.social-box {
    margin-top: 11px;
}
a.btn-default.white {
    padding: 9px 30px;
}
/*****************ABOUT-ME****************/
  
/*****************Event*****************/
#event-list #sorting{

    padding: 20px 0px 60px;

}



#event-list hr{
    background: #8abfe6;
    width: 108px;
    height: 3px;
}

#event-list select{
    width: 212px;
    font-size: 16px;
    height: 43px;
    background: #8abfe6;
    color: #fff;
     margin: 0px 15px 15px;
     border:none;
    font-family: 'Roboto', sans-serif;
}

#event-list input{
   width: 212px;
    font-size: 16px;
    padding: 0px 3px;
    border: none;
    height: 43px;
     margin: 0px 15px 15px;
    background: #8abfe6;
    color: #fff;
}

.menu-price {
    display: inline-block;
    float: right;
    color: #000;
    margin: -26px 53px 7px;
}

.event-image{
    float:left;
}

.content-box{
    /*float:right;
    padding: 39px 38px;*/
}

.event-header h4{
    font-size: 32px;
    font-weight: 400;
}
.event-sub-header{
    font-size: 18px;
    font-weight: 500;
}

.cause-column .donation-progress-box .inner-bar {
    position: relative;
    height: 6px;
    width: 0%;
    background: #8abfe6 url(../images/icons/bg-progress-bar.png) left center repeat-x;
    border-radius: 7px;
}

.donation-progress-box .donation-progress-bar {
    position: relative;
    margin: 10px 0px 5px;
    height: 6px;
    width: 100%;
    background: grey;
    border-radius: 10px;
    overflow: hidden;
}

.donation-progress-box .inner-bar {
    position: relative;
    height: 6px;
    width: 0%;
    background: #8abfe6 url(../images/icons/bg-progress-bar.png) left center repeat-x;
    border-radius: 7px;
}
.event-button {
    position: relative;
    margin-top: 52px;
}

 .event-button a {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

#event-list .text{
   font-size: 16px;
    max-width: 463px;
    font-weight: 300;
    margin: 2px 0px 27px 0px;
}
#event-list .blue {
    padding: 11px 11px;
    display: inline-block;
}

#event-list .event-button a {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}
#event-list span {
    font-weight: 400;
}

#event-list .event-right {
     border-right:2px solid #8abfe6;
     border-bottom:2px solid #8abfe6;  
     border-top:2px solid #8abfe6;
     border-left-color:transparent;
     /*padding: 34px 51px 42px*/
}

@media(max-width:991px){
 #event-list .event-right {
     border-top:2px solid transparent;
     border-left:2px solid #8abfe6;
    }
 #event-list .text{
     max-width:2490px;
  }
}

@media(max-width:608px){
  #event-list .event-right{
     padding: 20px 11px;
   }
 .event-header h4{
    font-size:25px;
  }
  #event-list .text{
    font-size:14px;
   }
   
}

.content-box {
    padding: 41px 81px 45px 43px;
}

@-moz-document url-prefix() {
  .content-box{
   padding:41px 81px 39px 43px;
  }
}


@media(max-width:467px){
  #event-list .content-box{
      padding:21px 40px 10px 21px; 
   }
}

#event-list .event-image img {
     height:489px;
     
}


@media(min-width:992px) and (max-width:1200px) {
   #event-list .event-image img {
    height: 532px!important;
   }
}

@media (max-width:992px){
   #event-list .event-image img {
    width: 751px!important;
   }
}

@media(max-width:767px){
    #event-list .event-image img {
    height:auto;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #event-list .event-image img {
     height:496px;
     width:100%
  }
}





@media (max-width: 400px){ 
  #event-list a.btn-default.blue {
    padding: 15px 11px;
  }

   #event-list .event-button a {
    font-size: 12px;
   }

   #event-list .blue {
    width: 93px;
  }
}

@media(max-width:992px) and (min-width:381px){
    .event-button a.event-button2 {
      float:right;
    }
}

@media(max-width:767px){
  #event-list .event-image {
    margin-bottom:32px;
  }
}  
/*********CONTACT*************/

#Contact{
      background:url(../img/contact.jpg);
     background-size:cover; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
    /*padding:100px 0px 100px;*/
}

.address-description i{
    font-size: 18px;
    font-weight: 500;
    margin-right: 13px

}

.address-footer {
     margin-left: 27px;
    margin-top: -24px;
  font-size:16px;

}

.address-description b{
    font-size:16px;
}

.form-control,  .form-control:focus{
    display: block;
    width: 87%;
    height: 57px;
  /*  padding: 26px 16px;*/
    font-size: 14px;
   
    border: 0px;
    line-height: 1.42857143;
  
    background-color: transparent;
    background-image: none;
    border-bottom: 2px solid #8abfe6;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff!important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}

textarea::-webkit-input-placeholder {
color: #fff !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;
}
 
textarea:-ms-input-placeholder {  
color: #fff !important;
}

#Contact .blue{
     padding: 14px 56px;
     font-size: 16px;
}

#Contact .btn-default:hover {
    background-color: #fff;
    color:#8abfe6;
}

.address-description{
    padding:11px 0px;
}

address{
     margin-bottom:0px;
}

#map .overlay {
     background:rgba(49, 170, 225, 0.4);
    position: relative;
    width: 100%;
    height: 250px;
    top: 250px;
    margin-top: -250px;
}

.location{
    position:relative;
    margin:55px auto;
    color: #8abfe6;
    display: block;
    width: 166px;
    height: 40px;
    background: #fff;
    border: 0;
    transition: .3s;
}

/*#map a.btn-default.white{ 
    padding: 13px 37px;
    position: relative;
    left: 600px;
    top: 100px;
    font-size: 16px;
}
*/

/*****************************CONTAC_US**************************************/



.contact-us-header{
    font-size:20px
}

.icon-block {
    
    font-size: 2em;
    padding: 13px 6px;
    display: inline-block;
}

.icon-block .fa{
    color:#8abfe6;
    transition:.5s;
    font-size:24px;
    margin:6px; 
}

.icon-block .fa:hover{
    color:#fff;
}
.twitter li {
    list-style-type: none;
}

.icon-text {
    display: inline-block;
    padding: 17px;
}

.twitter .icon-text {
    display: inline-block;
    padding: 0px 0px;
}

.icon-text a {
    color: #8abfe6;
    float: left;
    padding: 5px;
    font-size: 23px;
    margin-left: -40px;
    text-decoration: none;
}
.icon-text h5 {
    color:#8abfe6;
}
.icon-text p {
    margin-top: -6px;
    font-size: 15px;
    color: #fff;
}


.icon-block a {
    color: #fff;
}


.contact-us-linking li{
     list-style-type:none;
      margin:0px 6px;

}


ul#flickr {
    margin: 51px auto;
    padding: 0px 21px;
}
ul#flickr li {
    background-color: #C4C4C4;
    display: inline-block;
    line-height: 0 !important;
    list-style: none outside none;
    margin: 0 0px 3px 0;
}
#contact-info  .form-control {
    width: 100%;
    height: 27px;
    padding: 23px 12px;
    font-size: 14px;
   /* padding-right: 75px;*/
}
#contact-info .form-control, .form-control:focus {
    color: #fff;
    border: 2px solid #8abfe6;;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.subscribe .btn {
        width: 40px;
    height: 60px;
    float: right;
    color:#fff;
    position: relative;
    top: -56px;
    right: 11px;
    font-size: 25px;
}
#contact-info .form-control, .btn {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.subscribe-hide i.fa {
    color: #fff;
}


#footer-section span:hover {
    color: red;
}


/*THROWBCK*/
#story{
   padding:100px 0px 214px;
}

.timeline {
    list-style: none;
    padding: 0;
    margin-top:72px;
    position: relative;
}
@media (min-width: 768px){
  .timeline:before {
    left: 50%;
  }
}
.subheading{
    font-size:20px;
    font-weight:600;
}

.text-muted{
     font-size:16px;
      max-height:265px;
      margin:auto;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #8abfe6;
    left: 40px;
    margin-left: -1.5px;
}
@media (min-width: 768px){
 .timeline:before {
    left: 50%;
    height:114%;
  }
}
.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}

.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}


@media (min-width: 1200px){
 .timeline>li {
    min-height: 170px;
 }
}
@media (min-width: 992px){
 .timeline>li {
    min-height: 150px;
 }
}

@media (min-width: 768px){
 .timeline>li {
    margin-bottom: 100px;
    min-height: 100px;
 }
}
.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #8abfe6;
    color: #fff;
    border-radius: 100%;
    /*border: 7px solid #f1f1f1;*/
    text-align: center;
}
@media (min-width: 1200px){
  .timeline>li .timeline-image {
    width: 32px;
    height: 32px;
    margin-left: -22px; 
   }
}

@media (min-width: 992px){
  .timeline>li .timeline-image {
     width: 32px;
    height: 32px;
    margin-left: -75px;
  }
}
@media (min-width: 768px){
  .timeline>li .timeline-image {
    width: 32px;
    height: 32px;
    left: 52.5%;
    margin-left: -45px;
  }
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.timeline>li #two-text {
    float:left;
}

@media (min-width: 1200px){
  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
}
@media (min-width: 992px){
  .timeline>li .timeline-panel, .timeline>li.timeline-inverted>.timeline-panel {
     padding: 10px 20px 43px 30px;
  }
}


@media (min-width: 1200px){
 .timeline>li {
    min-height: 170px;
   }
}
@media (min-width: 992px){
  .timeline>li {
    min-height: 94px;
  }
}
@media (min-width: 768px){
  .timeline>li .timeline-panel {
     width: 41%;
    float: right;
    /* margin: 0px 0px 0px; */
    top: 56px;
    border: 2px solid #8abfe6;
    padding: 10px 20px 43px 30px;
    text-align: left;
  }
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

#story .quest-paragraph {
     text-align: center;
    font-weight: 300;
    max-width: 606px;
    margin: auto;
}

.journey-text{
     position: relative;
    left: 524px;
    z-index: 1000;
    top: 42px;
    height: 33px;
    background: #fff;
    display: inline-block;
}

.up{
    margin-top: 0px;
    /* padding: 30px; */
    margin: auto;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    color: #FFF;
    background-color: #8abfe6
}

@media(max-width:767px){
  .up{
    margin:0 -9px;
   }
}

.down{
     margin-bottom: 0px;
    /* padding: 30px; */
    margin: auto;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    color: #FFF;position:relative;top:110px;
    background-color: #8abfe6;
}
@media(max-width:767px){
  .down{
     margin:0px -9px;
     top:0px;  
}
  .journey-text{
     top:0px ;
     left:56px;
}
  .timeline:before{
    left:5px;
}
  .timeline>li .timeline-panel{
    padding:0px 10px 17px;
  }
#story{
    padding-bottom:100px;
}
 
}

@media(max-width:1200px) and (min-width:1000px){
   .journey-text{
        left:418px;
   }
}

@media(max-width:999px) and (min-width:768px){
   .journey-text{
        left:314px;
   }
}

/****************VIDEO*********************/

#video{
    background:url(../img/video.jpg);
    background-size:cover;
    height: 60vh; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
    background-position:50% 50%;

}

.play{
   display: block;
    position: relative;
    /* top: 50%; */
    margin:80px auto 40px;
    top: 25px;
    right: 0;
    border-radius: 50%;
    left: 0;
    /* margin: 130px auto 0px; */
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 60px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-size: 16px;

}